<div class="row">
  <div class="col-1 text-center">
    <button
      class="btn btn-lg btn-primary mt-5"
      hx-get="<%= new_time_entry_path %>"
      hx-swap="innerHTML"
      hx-target="#new-entry"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    </button>
    <br>
    <small>Track Time</small>
  </div>
  <div class="col-11">
    <div class="row border-bottom time-header">
      <div class="d-flex align-items-center mb-3">
        <div class="btn-group me-2" role="group">
          <%= link_to time_path(view.prev_week, view: view.name), class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="bi bi-arrow-left"></i>
          <% end %>
          <%= link_to time_path(view.next_week, view: view.name), class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="bi bi-arrow-right"></i>
          <% end %>
        </div>
        <h2 class="me-2 mb-0"><%= formatted_time view %></h2>
        <%= link_to 'Return to today', time_path(Date.today, view: view.name) %>
      </div>

      <div class="col-10">
        <table class="w-100">
          <thead>
          <% view.date_totals.each do |date, duration| %>
            <td class="pb-2 <%= 'selected' if view.same_date?(date) %>">
              <%= link_to time_path(date, view: view.name), style: 'display:block' do %>
                <strong><%= date.strftime('%a') %></strong><br>
                <small>
                  <%= duration %>
                  <% unless duration.zero? %>
                    <i class="bi bi-clock"></i>
                  <% end %>
                </small>
              <% end %>
            </td>
          <% end %>
          </thead>
        </table>
      </div>
      <div class="col-2 text-end">
        Week total<br><small><%= view.total_duration %></small>
      </div>
    </div>

    <div class="time-entries mt-3">
      <div id="new-entry"></div>
      <% if view.entries.empty? %>
        <p class="text-muted">There's nothing to see here...</p>
      <% else %>
        <% view.entries.each do |time_entry| %>
          <div id="entry-<%= time_entry.id %>">
            <%= render 'time_entries/show', time_entry: %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
