<div class="me-4" style="width:360px">
  <div class="d-flex justify-content-between">
    <h3><%= group_name %></h3>
    <button
      class="btn btn-sm btn-outline-secondary mb-2 ms-2"
      hx-get="<%= new_project_path(group_name:) %>"
      hx-swap="outerHTML"
      hx-target="#<%= new_project_id group_name %>"
    >
      <i class="bi bi-plus"></i> Add
    </button>
  </div>
  <div>
    <div id="<%= new_project_id group_name %>"></div>
    <% projects.each do |project| %>
      <%= render 'show', project: %>
    <% end %>
  </div>
</div>
