<%# locals: (project:) %>

<div id="<%= new_project_id project.group %>">
  <div class="card mb-3">
    <div class="card-body">
      <%= form_for project, url: projects_path do |f| %>
        <%= render 'form_fields', form: f, project: %>
        <div class="mt-2">
          <button
            class="btn btn-sm btn-primary"
            hx-post="<%= projects_path %>"
            hx-swap="outerHTML"
            hx-target="#<%= new_project_id project.group %>"
          >
            Create
          </button>
          <button
            class="btn btn-sm btn-outline-secondary"
            hx-on:click="document.getElementById('<%= new_project_id project.group %>').hidden = true"
            type="button"
          >
            Cancel
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
