<%# locals: (project:) %>

<% if project.previously_new_record? %>
  <div id="<%= new_project_id project.group %>"></div>
<% end %>
<div id="project-<%= project.id %>">
  <div class="card mb-3 bg-light">
    <div class="card-body">
      <%= project %>
      <button
        class="btn btn-sm btn-link"
        hx-get="<%= edit_project_path(project) %>"
        hx-swap="innerHTML"
        hx-target="#project-<%= project.id %>"
      >
        Edit
      </button>
      <% if project.billable? %><span class="badge bg-secondary">billable</span><% end %>
    </div>
  </div>
</div>
