<%= form_for time_entry, url: time_entries_path do |f| %>
  <%= f.hidden_field :created_at, value: entry_date %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="row">
    <div class="col-11">
      <%= f.select :project_id, options_from_collection_for_select(Project.all, 'id', 'to_s'), {}, { class: 'form-select' } %>
      <% if time_entry.errors[:project_id] %><div class="invalid-feedback"><%= time_entry.errors[:project_id] %></div><% end %>
      <%= f.text_area :description, placeholder: 'Notes (optional)', class: 'form-control mt-1' %>
    </div>
    <div class="col-1">
      <%= f.text_field :duration, placeholder: "00:00", class: 'form-control' %>
      <% if time_entry.errors[:duration] %><div class="invalid-feedback"><%= time_entry.errors[:duration] %></div><% end %>
    </div>
  </div>
  <div class="mt-2">
    <button
      class="btn btn-primary"
      hx-post="<%= time_entries_path %>"
      hx-swap="innerHTML"
      hx-target="#new-entry"
    >
      Create
    </button>
    <button class="btn btn-sm btn-outline-secondary">
      Cancel
    </button>
  </div>
  <%= time_entry.errors.full_messages.join(', ') %>
<% end %>
