<%= render 'reports/nav' %>

<div class="container">
  <div>
    <h2>
      Detailed Report:
      <%= report.start_on.strftime("%m/%d/%Y") %>&mdash;<%= report.end_on.strftime("%m/%d/%Y") %>
    </h2>
  </div>
  <div class="me-5 mb-5">
    <small>Total hours</small><br>
    <div class="h4"><%= report.total_duration %></div>
  </div>

  <div hx-boost="true">
    <%= form_tag detailed_reports_path, method: :get do %>
      <%= hidden_field_tag :start_on, report.start_on %>
      <%= hidden_field_tag :end_on, report.end_on %>
      <%= select_tag :grouping, options_for_report_groupings(report.grouping.name), class: 'form-select', onchange: 'this.parentElement.submit()' %>
    <% end %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <% report.column_names.each do |name| %>
        <th><%= name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% report.entry_groupings.each do |grouping| %>
      <tr>
        <td class="bg-light text-muted" colspan="<%= report.columns.count - 1 %>">
          <%= grouping.name %>
        </td>
        <td class="bg-light text-muted text-end">
          <%= grouping.duration %>
        </td>
      </tr>
      <% grouping.entries.each do |entry| %>
        <tr>
          <% report.column_methods.each do |method| %>
            <td><%= entry.public_send(method) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="<%= report.columns.count %>" class="text-end">
        <strong>Total</strong>
        <%= report.total_duration %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
