<%= render 'reports/nav' %>

<div class="d-flex align-items-center justify-content-between mb-5 pb-3 border-bottom">
  <div class="d-flex align-items-center">
    <% if report.symmetric? %>
      <div class="btn-group me-2" role="group" hx-boost="true">
        <%= link_to prev_report_path(report), class: report_nav_classes(report) do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
        <%= link_to next_report_path(report), class: report_nav_classes(report) do %>
          <i class="bi bi-arrow-right"></i>
        <% end %>
      </div>
    <% end %>
    <h2 class="me-2 mb-0"><%= report.title %></h2>
    <% unless report.current? %>
      <%= link_to current_report_label(report), current_report_path(report) %>
    <% end %>
  </div>
  <div>
    <%= form_tag reports_path, method: :get do %>
      <%= select_tag :kind, options_for_report_kinds(params[:kind]), class: 'form-select', onchange: 'this.parentElement.submit()' %>
    <% end %>
  </div>
</div>

<div class="container d-flex mt-4 mb-4">
  <div class="me-5">
    <small>Total hours</small><br>
    <div class="h4"><%= report.total_duration.in_hours %></div>
  </div>
  <div class="ms-5 me-5">
    <div class="chart">
      <div class="donut" style="--chart-degrees:<%= (report.billable_ratio * 360).round %>deg">
        <div class="donut-hole">
          <div class="donut-label h4">
            <%= number_to_percentage report.billable_percentage, precision: 0 %>
          </div>
        </div>
      </div>
      <div class="chart-legend">
        <div>
          <div class="chart-segment chart-segment-1"></div>
          <div class="chart-label">Billable (<%= report.billable_duration.in_hours %>)</div>
        </div>
        <div>
          <div class="chart-segment chart-segment-2"></div>
          <div class="chart-label">Non-billable (<%= report.non_billable_duration.in_hours %>)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ms-5">
    <small>Billable Amount</small><br>
    <div class="h4"><%= number_to_currency report.billable_amount %></div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <div hx-boost="true">
    <%= link_to 'Detailed Report', detailed_reports_path(start_on: report.start_on, end_on: report.end_on), class: 'btn btn-sm btn-link' %>
  </div>
</div>

<nav class="nav nav-underline border-bottom" hx-boost="true">
  <%= nav_item 'Groups', report_tab_path(report, grouping: 'group'), active: report.grouping?('group') %>
  <%= nav_item 'Projects', report_tab_path(report, grouping: 'project'), active: report.grouping?('project') %>
</nav>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th style="width:40%">Name</th>
      <th style="width:40%">Hours</th>
      <th style="width:20%">Billable Hours</th>
    </tr>
  </thead>
  <tbody>
    <% report.entry_groupings.each do |grouping| %>
       <tr>
         <td><%= grouping.name %></td>
         <td><%= grouping.duration.in_hours %></td>
         <td>
           <% if grouping.billable_amount? %>
             <div class="row">
               <div class="col"><%= number_to_currency grouping.billable_amount %></div>
               <div class="col text-muted">(<%= number_to_percentage grouping.billable_percentage, precision: 0 %>)</div>
             </div>
           <% else %>
              &mdash;
           <% end %>
         </td>
       </tr>
    <% end %>
  </tbody>
</table>
